@page
@model WebApplication2.Pages.Categories.CreateModel
@{
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Create Category</h2>
        </div>

        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <div class="form-group">
                <label asp-for="Category.Name"></label>
                <input type="text" class="form-control" asp-for="Category.Name" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                <label asp-for="Category.DisplayOrder"></label>
                <input type="text" class="form-control" asp-for="Category.DisplayOrder" />
                <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
            </div>
        </div>

        <p></p>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-page="Category" class="btn btn-secondary" style="width:150px;">Back to list</a>
    </div>

</form>

@section Scripts{
 @{
    <partial name="_ValidationScriptsPartial" />
 }
}